#!/bin/sh
USER={{ username }}
PASSWORD={{ password }}

cd ~/Downloads

RSS=~/Downloads/rss.xml
rm -f $RSS
echo "<?xml version=\"1.0\" encoding=\"iso-8859-1\"?>" >> $RSS
echo "<rss version=\"2.0\">" >> $RSS
echo "<channel>" >> $RSS
echo "<title>DL</title>" >> $RSS
cd ~/Downloads
find . -type f  | awk -v USER=$USER -v PASSWORD=$PASSWORD '{print "<item><title>" $0  "</title><description>" $0 "</description><link>https://" USER ":" PASSWORD "@box.dangconsulting.fr:11001/" $0 "</link></item>" }' >> $RSS
echo "</channel>" >> $RSS
echo "</rss>" >> $RSS
