#!/bin/bash
export scriptpath=$(realpath -s $(dirname $0))
cd ${scriptpath}
PASSWORD="$(jq -r '.password' seedbox-settings.json)"
PORT="$(jq -r '.http_port' seedbox-settings.json)"
USERNAME="$(jq -r '.username' seedbox-settings.json)"

echo "Stopping transmission"
transmission-remote localhost:${PORT} -n ${USERNAME}:${PASSWORD} --exit

#PID=$(cat ~/transmission-daemon/${USERNAME}.pid)
#kill -9 $PID
#rm -f ~/transmission-daemon/${USERNAME}.pid
