<user-mapping>	
    <authorize username="{{ username }}" password="{{ password }}">

    <connection name="telemaintenance">
    <protocol>vnc</protocol>
    <param name="hostname">localhost</param>
    <param name="port">5901</param>
    <param name="password">{{ password }}</param>
    <param name="encodings">zrle ultra copyrect hextile zlib corre rre raw</param>
    </connection>

    </authorize>
</user-mapping>
